<p>
<table id='table_fx_past'>
<tr>
<th scope="col">
WWEEK
</th>
</tr>
<tr>
<td>
Week: 2011-01-31 Through 2011-02-04
</td>
</tr>
<tr>
<td>
Week: 2011-02-06 Through 2011-02-11
</td>
</tr>
<tr>
<td>
Week: 2011-02-13 Through 2011-02-18
</td>
</tr>
<tr>
<td>
Week: 2011-02-20 Through 2011-02-25
</td>
</tr>
<tr>
<td>
Week: 2011-02-27 Through 2011-03-04
</td>
</tr>
<tr>
<td>
Week: 2011-03-06 Through 2011-03-11
</td>
</tr>
<tr>
<td>
Week: 2011-03-13 Through 2011-03-18
</td>
</tr>
</table>
<p>

7 rows selected.<br>
<br>


