%a(href="/r10/site_map")Site Map
>
About
%h5 About

%img(id="DanBikle" alt="Dan_Bikle" src="http://bornboulder77.googlepages.com/DanBikle2006_09_7.jpg" height="300" width="400")

%p In June of 1988 Dan Bikle graduated from Caltech with a BSEE.

