%h5 Glossary

%h4 Trend:
If SPY goes up 5 days in a row, that is a price trend.

%h4 Correlation Trend:
If SPY usually goes up every spring and then down every summer, that is a correlation trend.
If SPY usually goes down on Thursday afternoons and then up on Friday afternoons, that is another example of a correlation trend.

%h4 Revert To Mean (R2M):
Revert to Mean is usually discussed in freshman statistics.
SPY usually goes up after it quickly goes down more than two standard deviations.  This behavior of returning to where it was is called Reversion to Mean (R2M).  A good example of this idea was the May 6th "Flash Crash" in 2010:
%a(href="http://www.google.com/search?q=may+6+flash+crash" target="g")http://www.google.com/search?q=may+6+flash+crash
%br/
I consider R2M to be a type of correlation trend.  Some stocks and ETFs usually revert to mean, others do not.  Reversion to mean can be both dangerous and lucrative depending on how I prepare for it.  
For example, if I depend on a "stop-loss" order to protect myself from a fall in my holdings of the SPY ETF, I can get hurt by R2M.

On the other hand, if I actively wait for quick price moves of more than two standard deviations and then I move contrary to the herd, I can profit from ETFs like SPY which usually revert to mean.

%h4 Pip:
It takes 100 pips to make a penny.  If I have a $10,000 position in the Forex market and my position goes up 1 pip, then I will gain $1.  So, if my position goes up 1 pip / day then I will double my money after 10,000 days which is 27.4 years.  If my position goes up 1 pip / hour then I will double my money after 10,000 hours which is 417 days. If my $10,000 position is financed with $250 of collateral and my position goes up 1 pip / day then I will double my money after 250 days.

%br/
%br/


