<table id="table_fx_past">

<tr>
<td><a href="/predictions/fx_past_wk2011_01_31">Week: 2011-01-31 Through 2011-02-04</a></td>
</tr>
<tr>
<td><a href="/predictions/fx_past_wk2011_02_06">Week: 2011-02-06 Through 2011-02-11</a></td>
</tr>
<tr>
<td><a href="/predictions/fx_past_wk2011_02_13">Week: 2011-02-13 Through 2011-02-18</a></td>
</tr>
<tr>
<td><a href="/predictions/fx_past_wk2011_02_20">Week: 2011-02-20 Through 2011-02-25</a></td>
</tr>
<tr>
<td><a href="/predictions/fx_past_wk2011_02_27">Week: 2011-02-27 Through 2011-03-04</a></td>
</tr>
<tr>
<td><a href="/predictions/fx_past_wk2011_03_06">Week: 2011-03-06 Through 2011-03-11</a></td>
</tr>
<tr>
<td><a href="/predictions/fx_past_wk2011_03_13">Week: 2011-03-13 Through 2011-03-18</a></td>
</tr>
</table>