%a(href="/r10/site_map")Site Map
>
%a(href="/predictions")Predictions
>
%a(href="/predictions/fx")Forex
> Future Forex Predictions

%h5 Future Forex Predictions

=render :partial => 'fx_future_spool'
