<table class="table_fx_past_week">
<tr>
<th scope="col">
PAIR
</th>
<th scope="col">
SUM_G4
</th>
<th scope="col">
AVG_G4
</th>
<th scope="col">
SHARPE_RATIO
</th>
<th scope="col">
MIN_G4
</th>
<th scope="col">
MAX_G4
</th>
<th scope="col">
POSITION_COUNT
</th>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
   .0243
</td>
<td align="right">
   .0016
</td>
<td align="right">
 1.78
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0035
</td>
<td align="right">
        15
</td>
</tr>
</table><table class="table_fx_past_week">
<tr>
<th scope="col">
PAIR
</th>
<th scope="col">
SUM_G4
</th>
<th scope="col">
AVG_G4
</th>
<th scope="col">
SHARPE_RATIO
</th>
<th scope="col">
MIN_G4
</th>
<th scope="col">
MAX_G4
</th>
<th scope="col">
POSITION_COUNT
</th>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
   .0188
</td>
<td align="right">
   .0008
</td>
<td align="right">
  .93
</td>
<td align="right">
  -.0012
</td>
<td align="right">
   .0021
</td>
<td align="right">
        23
</td>
</tr>
</table>
