%a(href="/r10/site_map")Site Map
>
%a(href="/predictions")Predictions
>
%a(href="/predictions/fx")Forex
>
%a(href="/predictions/fx_past")Past Forex Predictions
> Week: 2011-02-20

%h5 Week: 2011-02-20 Through 2011-02-25
%br/
=render :partial => "fx_past_wk2011_02_20_01"

