<table class="table_fx_past_week">
<tr>
<th scope="col">
PAIR
</th>
<th scope="col">
SUM_G4
</th>
<th scope="col">
AVG_G4
</th>
<th scope="col">
SHARPE_RATIO
</th>
<th scope="col">
MIN_G4
</th>
<th scope="col">
MAX_G4
</th>
<th scope="col">
POSITION_COUNT
</th>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
   .0123
</td>
<td align="right">
   .0014
</td>
<td align="right">
 2.18
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0026
</td>
<td align="right">
         9
</td>
</tr>
</table>
