%a(href="/r10/site_map")Site Map
>
%a(href="/predictions")Predictions
>
%a(href="/predictions/us_stk")US Stock
> Past US Stock Predictions

%h5 Results Of Past US Stock Predictions

=render :partial => 'us_stk_past_spool'
