<table class="table_us_stk_past_week">
<tr>
<th scope="col">
TKR
</th>
<th scope="col">
SUM_G1
</th>
<th scope="col">
AVG_G1
</th>
<th scope="col">
SHARPE_RATIO
</th>
<th scope="col">
MIN_G1
</th>
<th scope="col">
MAX_G1
</th>
<th scope="col">
POSITION_COUNT
</th>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
   73.1700
</td>
<td align="right">
    .9262
</td>
<td align="right">
   1.02
</td>
<td align="right">
  -1.3600
</td>
<td align="right">
   2.2900
</td>
<td align="right">
        79
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
    -.9500
</td>
<td align="right">
   -.1900
</td>
<td align="right">
   -.67
</td>
<td align="right">
   -.3700
</td>
<td align="right">
    .2900
</td>
<td align="right">
         5
</td>
</tr>
<tr>
<td>
EBAY
</td>
<td align="right">
  -35.1199
</td>
<td align="right">
   -.4683
</td>
<td align="right">
  -2.17
</td>
<td align="right">
   -.7900
</td>
<td align="right">
    .0100
</td>
<td align="right">
        75
</td>
</tr>
<tr>
<td>
EFA
</td>
<td align="right">
   -7.8399
</td>
<td align="right">
   -.0956
</td>
<td align="right">
   -.17
</td>
<td align="right">
  -1.3100
</td>
<td align="right">
    .4000
</td>
<td align="right">
        82
</td>
</tr>
<tr>
<td>
OIH
</td>
<td align="right">
   24.7102
</td>
<td align="right">
   3.0888
</td>
<td align="right">
   1.95
</td>
<td align="right">
    .8600
</td>
<td align="right">
   4.5500
</td>
<td align="right">
         8
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
    4.1000
</td>
<td align="right">
    .2929
</td>
<td align="right">
    .93
</td>
<td align="right">
   -.1500
</td>
<td align="right">
    .7200
</td>
<td align="right">
        14
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
   24.9300
</td>
<td align="right">
   1.2465
</td>
<td align="right">
   2.64
</td>
<td align="right">
   -.3000
</td>
<td align="right">
   1.7800
</td>
<td align="right">
        20
</td>
</tr>
</table><table class="table_us_stk_past_week">
<tr>
<th scope="col">
TKR
</th>
<th scope="col">
SUM_G1
</th>
<th scope="col">
AVG_G1
</th>
<th scope="col">
SHARPE_RATIO
</th>
<th scope="col">
MIN_G1
</th>
<th scope="col">
MAX_G1
</th>
<th scope="col">
POSITION_COUNT
</th>
</tr>
<tr>
<td>
AIG
</td>
<td align="right">
  -11.7200
</td>
<td align="right">
   -.4341
</td>
<td align="right">
  -2.26
</td>
<td align="right">
   -.7600
</td>
<td align="right">
   -.1900
</td>
<td align="right">
        27
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
    5.3701
</td>
<td align="right">
    .2557
</td>
<td align="right">
    .10
</td>
<td align="right">
  -3.8800
</td>
<td align="right">
   3.8401
</td>
<td align="right">
        21
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   -1.5699
</td>
<td align="right">
   -.3925
</td>
<td align="right">
  -2.38
</td>
<td align="right">
   -.5499
</td>
<td align="right">
   -.1600
</td>
<td align="right">
         4
</td>
</tr>
<tr>
<td>
EFA
</td>
<td align="right">
   -2.1900
</td>
<td align="right">
  -1.0950
</td>
<td align="right">
 -51.62
</td>
<td align="right">
  -1.1100
</td>
<td align="right">
  -1.0800
</td>
<td align="right">
         2
</td>
</tr>
<tr>
<td>
MON
</td>
<td align="right">
     .7900
</td>
<td align="right">
    .1580
</td>
<td align="right">
    .84
</td>
<td align="right">
    .0300
</td>
<td align="right">
    .4900
</td>
<td align="right">
         5
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
     .0600
</td>
<td align="right">
    .0300
</td>
<td align="right">
    .71
</td>
<td align="right">
    .0000
</td>
<td align="right">
    .0600
</td>
<td align="right">
         2
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
   -9.8500
</td>
<td align="right">
  -2.4625
</td>
<td align="right">
 -12.03
</td>
<td align="right">
  -2.7200
</td>
<td align="right">
  -2.2300
</td>
<td align="right">
         4
</td>
</tr>
</table>
