<table class="table_us_stk_past_week">
<tr>
<th scope="col">
TKR
</th>
<th scope="col">
SUM_G1
</th>
<th scope="col">
AVG_G1
</th>
<th scope="col">
SHARPE_RATIO
</th>
<th scope="col">
MIN_G1
</th>
<th scope="col">
MAX_G1
</th>
<th scope="col">
POSITION_COUNT
</th>
</tr>
<tr>
<td>
CDE
</td>
<td align="right">
    1.5000
</td>
<td align="right">
    .7500
</td>
<td align="right">
   3.54
</td>
<td align="right">
    .6000
</td>
<td align="right">
    .9000
</td>
<td align="right">
         2
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   66.1900
</td>
<td align="right">
   1.1219
</td>
<td align="right">
   5.33
</td>
<td align="right">
    .5900
</td>
<td align="right">
   1.4500
</td>
<td align="right">
        59
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
    1.7700
</td>
<td align="right">
    .5900
</td>
<td align="right">
  14.75
</td>
<td align="right">
    .5500
</td>
<td align="right">
    .6300
</td>
<td align="right">
         3
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   30.2900
</td>
<td align="right">
    .6182
</td>
<td align="right">
   1.89
</td>
<td align="right">
    .0400
</td>
<td align="right">
   1.0100
</td>
<td align="right">
        49
</td>
</tr>
<tr>
<td>
SLV
</td>
<td align="right">
    2.4500
</td>
<td align="right">
    .2042
</td>
<td align="right">
   1.72
</td>
<td align="right">
   -.1000
</td>
<td align="right">
    .3800
</td>
<td align="right">
        12
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
    3.8400
</td>
<td align="right">
    .0853
</td>
<td align="right">
   1.02
</td>
<td align="right">
   -.1100
</td>
<td align="right">
    .2500
</td>
<td align="right">
        45
</td>
</tr>
<tr>
<td>
TKR
</td>
<td align="right">
   -6.1300
</td>
<td align="right">
   -.2358
</td>
<td align="right">
  -1.56
</td>
<td align="right">
   -.4500
</td>
<td align="right">
    .1800
</td>
<td align="right">
        26
</td>
</tr>
<tr>
<td>
XLU
</td>
<td align="right">
     .5900
</td>
<td align="right">
    .1475
</td>
<td align="right">
   4.10
</td>
<td align="right">
    .1200
</td>
<td align="right">
    .2000
</td>
<td align="right">
         4
</td>
</tr>
</table><table class="table_us_stk_past_week">
<tr>
<th scope="col">
TKR
</th>
<th scope="col">
SUM_G1
</th>
<th scope="col">
AVG_G1
</th>
<th scope="col">
SHARPE_RATIO
</th>
<th scope="col">
MIN_G1
</th>
<th scope="col">
MAX_G1
</th>
<th scope="col">
POSITION_COUNT
</th>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
    1.4700
</td>
<td align="right">
    .2100
</td>
<td align="right">
   1.88
</td>
<td align="right">
    .0700
</td>
<td align="right">
    .3800
</td>
<td align="right">
         7
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   48.3900
</td>
<td align="right">
    .3532
</td>
<td align="right">
   1.34
</td>
<td align="right">
   -.2900
</td>
<td align="right">
   1.0000
</td>
<td align="right">
       137
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
     .2500
</td>
<td align="right">
    .0833
</td>
<td align="right">
    .46
</td>
<td align="right">
   -.0300
</td>
<td align="right">
    .2900
</td>
<td align="right">
         3
</td>
</tr>
<tr>
<td>
PBR
</td>
<td align="right">
   -3.1200
</td>
<td align="right">
   -.3467
</td>
<td align="right">
  -4.09
</td>
<td align="right">
   -.4200
</td>
<td align="right">
   -.1500
</td>
<td align="right">
         9
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
    2.5200
</td>
<td align="right">
    .2800
</td>
<td align="right">
   2.37
</td>
<td align="right">
    .0700
</td>
<td align="right">
    .4500
</td>
<td align="right">
         9
</td>
</tr>
<tr>
<td>
SLV
</td>
<td align="right">
     .8600
</td>
<td align="right">
    .4300
</td>
<td align="right">
  10.14
</td>
<td align="right">
    .4000
</td>
<td align="right">
    .4600
</td>
<td align="right">
         2
</td>
</tr>
<tr>
<td>
TSO
</td>
<td align="right">
   -2.1700
</td>
<td align="right">
   -.5425
</td>
<td align="right">
  -5.17
</td>
<td align="right">
   -.6700
</td>
<td align="right">
   -.4300
</td>
<td align="right">
         4
</td>
</tr>
<tr>
<td>
VLO
</td>
<td align="right">
   -1.2200
</td>
<td align="right">
   -.6100
</td>
<td align="right">
  -5.39
</td>
<td align="right">
   -.6900
</td>
<td align="right">
   -.5300
</td>
<td align="right">
         2
</td>
</tr>
<tr>
<td>
XLU
</td>
<td align="right">
    -.2000
</td>
<td align="right">
   -.0286
</td>
<td align="right">
  -1.19
</td>
<td align="right">
   -.0600
</td>
<td align="right">
    .0200
</td>
<td align="right">
         7
</td>
</tr>
</table>
