%a(href="/r10/site_map")Site Map
>
%a(href="/predictions")Predictions
> US Stock

%h5 US Stock Predictions

%a(href="/predictions/us_stk_past")Results Of Past US Stock Predictions
%br/
%br/
%a(href="/predictions/us_stk_future")Future US Stock Predictions
%br/
%br/
