%a(href="/r10/site_map")Site Map
>
%a(href="/r10/forex")Forex
> 
%a(href="/forex/fx_cct")Current Correlation Trends
>  4hp2010_1123
%h5 4 Hour Period (4hp2010_1123)

This page describes some of my work at cutting up the week into four hour periods.
