%a(href="/r10/site_map")Site Map
>
%a(href="/r10/forex")Forex
> 
%a(href="/forex/fx_cct")Current Correlation Trends
>  dom2010_1107
%h5 Day Of Month (dom2010_1107)


If you have software talents, and a desire to duplicate my results,
you will find a copy of the software I used to generate the SQL reports for this page.
The software is here:
%br/
%a(href="https://github.com/bikle/rluck/tree/master/dom2010_1107/" target="t")
  https://github.com/bikle/rluck/tree/master/dom2010_1107/
%br/
%br/
