%a(href="/r10/site_map")Site Map
>
%a(href="/r10/forex")Forex
> 
%a(href="/forex/fx_cct")Current Correlation Trends
>  dom2010_1107
%h5 Day Of Month (dom2010_1107)


If you have software talents, and a desire to duplicate my results,
you will find a copy of the software I used to generate the SQL reports for this page.
The software is here:
%br/
%br/
%a(href="https://github.com/bikle/rluck/tree/master/dom2010_1107/" target="t")
  https://github.com/bikle/rluck/tree/master/dom2010_1107/
%br/
%br/
I used google to locate some forex data which contains prices for currency pairs at the hourly level:
%br/
%br/

%a(href="https://encrypted.google.com/search?q=forex+historical+data" target="g")
  https://encrypted.google.com/search?q=forex+historical+data
%br/
%br/
For 2009, and 2010 I compared the data to data I get from my broker.  I am satisfied that the data is accurate.
I am hesitant to share the URL because I do not know the owner's attitude about my analysis of the data.
If you want the data, it is easy to find via google rather than me.
%br/
%br/
