%a(href="/r10/site_map")Site Map
>
%a(href="/r10/forex")Forex
> Current Correlation Trends
%h5 Current Correlation Trends (Forex)

%h4 Week Of Quarter (WOQ)

I used SQL to answer the following question:
%br/
%br/

Does the first week in a quarter resemble the first week in other quarters?  How about the last week or any arbitrary week?
%br/
%br/

If the answer is yes, then I do have a Current Correlation Trend (for week of quarter).
%br/

As I write this, the date is 2010-11-02.  Currently I am in the 6th week of the 4th quarter of 2010.
%br/

That means I can compare weeks 1 through 5 of this quarter to weeks 1 through 5 of previous quarters going back several years.
%br/

And I can study weeks 1 through 14 of the 3rd quarter of 2010 which began on Thursday July 1 2010.
%br/

The source of my data is the Federal Reserve:
%br/

%a(href="http://www.federalreserve.gov/releases/h10/hist/")http://www.federalreserve.gov/releases/h10/hist/
