%a(href="/r10/site_map")Site Map
>
%a(href="/r10/forex")Forex
> Current Correlation Trends
%h5 Current Correlation Trends (Forex)

%h4 Week Of Quarter (WOQ)
When I trade currencies in the Forex market, does the first week in a quarter resemble the first week in other quarters? 
How about the last week or any arbitrary week?
%br/
%br/

If the answer is yes, then I do have a Current Correlation Trend (for week of quarter).
%br/
It seems plausible that correlation trends could exist in the Forex market.  As a consumer I have certain bills which come due once a month.  Also I have taxes which are due once a quarter and once a year.  Obviously large corporations, banks, and governments have bills which need to get paid.  These payments might produce correlation trends in the Forex market.

As I write this, the date is 2010-11-02.  Currently I am in the 6th week of the 4th quarter of 2010.
%br/

That means I can compare weeks 1 through 5 of this quarter to weeks 1 through 5 of previous quarters going back several years.
%br/

And I can study weeks 1 through 14 of the 3rd quarter of 2010 which began on Thursday July 1 2010.
%br/

The source of my data is the Federal Reserve:
%br/

%a(href="http://www.federalreserve.gov/releases/h10/hist/" target="f")http://www.federalreserve.gov/releases/h10/hist/
%br/
%br/
Some of my attempts to find correlation trends for Week Of Quarter (WOQ) are listed below:
%br/
%br/
%a(href="/forex/woq2010_1103")woq2010_1103
%br/
%a(href="/forex/woq2010_1106")woq2010_1106
%br/
%a(href="/forex/woq2010_1107")woq2010_1107
%br/
%br/


%h4 Week Of Month (WOM)

What is the best week of the month to be bearish on eur_usd currency pair?
Does the first week in a month resemble the first week in other months?

Using data I acquired from the Fed, 
I looked for evidence that buying or shorting a specific pair for a given week of the month yielded a strong pattern.

My efforts  to find correlation trends for Week Of Month (WOM) are listed below:
%br/
%a(href="/forex/wom2010_1104")wom2010_1104
%br/

%h4 Day Of Month (DOM)

Which day of the month gives the most certain profits when I buy Canadian Dollars (CAD) with USD?

Does the usd_jpy pair typically move up or down on the 16th?

Using data I acquired from the Fed, 
I looked for evidence that buying or shorting a specific pair for a given day of the month yielded a strong pattern.

My efforts  to find correlation trends for Day Of Month (DOM) are listed below:
%br/
%a(href="/forex/dom2010_1105")dom2010_1105
%br/
%a(href="/forex/dom2010_1107")dom2010_1107
%br/
%br/


%h4 Day Of Week (DOW)

How has the usd_chf pair usually behaved on Monday?
Let us find out:
