%a(href="/r10/site_map")Site Map
>
%a(href="/r10/forex")Forex
> 
%a(href="/forex/fx_cct")Current Correlation Trends
>  wom2010_1104
%h5 Week Of Month (wom2010_1104)

I found no evidence of strong correlation trends for Week Of Month (WOM).

The software I used to go on this quest can be found here:

%br/
%br/
%a(href="https://github.com/bikle/rluck/tree/master/sbw_wom_fed" target="t")
  https://github.com/bikle/rluck/tree/master/sbw_wom_fed
%br/
%br/

Week-of-Month queries can be useful if I have a strong opinion about
the direction of either a particular currency or a particular
currencly pair.

For example, on 2010-11-03, the Fed publicized a policy which some call "Quantitative Easing":
%br/
%br/

%a(href="https://encrypted.google.com/search?q=Quantitative+Easing" target="g")
  https://encrypted.google.com/search?q=Quantitative+Easing

%br/
%br/

An anecdotal scan of the media suggests that this policy should force
consumers, banks, and businesses to have a bearish opinion about USD.

This is actually a big topic but I suspect that bearish sentiment towards USD is rising.

If you are a USD bear, the query listed below may be of interest to you.

It shows, for 2009 and 2010, the average hourly rate of return for various currency pairs.

I sorted the list by absolute value of the return:


%pre
  :preserve
    17:10:19 SQL> 
    17:10:19 SQL> --
    17:10:19 SQL> -- sbw_wom.sql
    17:10:19 SQL> --
    17:10:19 SQL> 
    17:10:19 SQL> SET LINES 66
    17:10:19 SQL> DESC hourly
     Name                             Null?    Type
     -------------------------------- -------- -----------------------
     PAIR                                      VARCHAR2(15)
     YDATE                                     DATE
     VOL                                       NUMBER
     OPN                                       NUMBER
     CLSE                                      NUMBER
     MN                                        NUMBER
     MX                                        NUMBER
    
    17:10:19 SQL> SET LINES 166
    17:10:19 SQL> 
    17:10:19 SQL> -- For each pair, look at wom over 2009, 2010:
    17:10:19 SQL> SELECT pair,week_of_month,AVG(nhgain),SUM(nhgain),COUNT(nhgain)
    17:10:19   2  FROM
    17:10:19   3  (
    17:10:19   4    SELECT
    17:10:19   5    pair
    17:10:19   6    ,ydate
    17:10:19   7    ,opn
    17:10:19   8    ,clse
    17:10:19   9    -- Hourly gain:
    17:10:19  10    ,(clse-opn)      hgain
    17:10:19  11    -- Normalized hourly gain:
    17:10:19  12    ,(clse-opn)/opn nhgain
    17:10:19  13    ,0+TO_CHAR(ydate,'W')week_of_month
    17:10:19  14    FROM hourly WHERE opn>0
    17:10:19  15  )
    17:10:19  16  WHERE ydate > '2009-01-01'
    17:10:19  17  GROUP BY pair,week_of_month
    17:10:19  18  ORDER BY ABS(AVG(nhgain))DESC
    17:10:19  19  /
    
    PAIR            WEEK_OF_MONTH AVG(NHGAIN) SUM(NHGAIN) COUNT(NHGAIN)
    --------------- ------------- ----------- ----------- -------------
    gbp_usd                     5  .000095108  .085216558           896
    usd_chf                     5  -.00007708  -.06906327           896
    aud_usd                     1  .000061987  .170588059          2752
    usd_cad                     2  -.00006065  -.16107621          2656
    aud_usd                     2  .000054304   .14423268          2656
    usd_cad                     1  -.00005388  -.14827881          2752
    usd_jpy                     2  -.00005066  -.15989152          3156
    usd_chf                     2  -.00004419  -.11736529          2656
    eur_usd                     2  .000042163  .111986246          2656
    usd_jpy                     3  -.00003667  -.11516483          3141
    aud_usd                     3   -.0000358  -.09512569          2657
    usd_jpy                     5  -.00002981  -.03183549          1068
    aud_usd                     5  .000026627  .023857728           896
    usd_jpy                     1  .000024388  .078896089          3235
    gbp_usd                     2  .000022415  .059533548          2656
    usd_cad                     3   .00002229  .059224864          2657
    eur_usd                     5  .000022025  .019734154           896
    gbp_usd                     3  -.00001874  -.04969654          2652
    eur_usd                     3  .000014025  .037265422          2657
    usd_chf                     1  .000013124  .036118175          2752
    gbp_usd                     1  .000011741      .03231          2752
    eur_usd                     1  -.00000914  -.02515245          2752
    eur_usd                     4  7.0153E-06  .018555414          2645
    aud_usd                     4  6.3436E-06  .016778794          2645
    usd_chf                     3  -6.235E-06  -.01656746          2657
    gbp_usd                     4  -4.915E-06  -.01296691          2638
    usd_cad                     5  3.4071E-06  .003052725           896
    usd_chf                     4  1.5534E-06  .004108684          2645
    usd_cad                     4  -5.664E-07  -.00149807          2645
    usd_jpy                     4  1.0993E-07  .000343872          3128
    
    30 rows selected.

A copy of the above report and the SQL which created it is at this URL:
%br/
%a(href="https://github.com/bikle/rluck/tree/master/wom2010_1104/" target="t")
  https://github.com/bikle/rluck/tree/master/wom2010_1104/
%br/
%br/

Notice that the first row in the report is for the gbp_usd pair.  If you trade this pair, you will use USD to buy GBP.
If USD is falling, it makes sense that the gain for this pair would be positive.

The second row in the report is for the usd_chf pair.  In this trade you would use CHF to buy USD.

A USD bear however, would instead use CHF to short, not buy, USD.

Since USD has been falling in value it makes sense that the gain for the usd_chf pair would be negative.
%br/
%br/

So why is the above report useful to a USD bear?

It is useful because it shows (in sorted order) the most lucrative Week of Month trades.

The first row in the report shows that on the 5th week of the month in 2009 and 2010 the gbp_usd pair had an approximate gain of 0.95108 pips / hour.  

The Forex Market trades 24 x 5 hours / week. 
 
So this is a rate of return of (0.95108 pips / hour) x (24 x 5 hours / week) which is 114 pips / week.

Most Forex traders use 250 pips of collateral to trade $1.

So 114 pips / week in percentage terms is (114 / 250)x100% which is a 46% return in 1 week.

My attitude is this:

Markets are fickle; it seems plausible that 2011, 2012, 2013 will yield very different result than 2009 and 2010.

But, it also it seems possible that the USD will fall for a long time for several reasons:

%ul
  %li The stated policy of the Fed is stimulate the US economy with easy money
  %li Export based economies which sell many goods or resources tend to build a strong currency
  %li Australia, Canada, and Japan have export based economies
  %li USA has an import based economy

%br/
One problem with the above report is that the USD-bullish trades are mixed with the USD-bearish trades.
%br/
%br/
I wrote a second script which separates them:

%pre
  :preserve
    SQL*Plus: Release 11.2.0.1.0 Production on Sun Nov 7 02:03:25 2010

    Copyright (c) 1982, 2009, Oracle.  All rights reserved.
    
    Connected to:
    Oracle Database 11g Enterprise Edition Release 11.2.0.1.0 - 64bit Production
    With the Partitioning, OLAP, Data Mining and Real Application Testing options
    
    02:03:26 SQL> ALTER SESSION SET NLS_DATE_FORMAT = 'YYYY-MM-DD hh24:mi:ss';
    
    Session altered.
    
    Elapsed: 00:00:00.00
    02:03:26 SQL> 02:03:26 SQL> --
    02:03:26 SQL> -- bb_wom.sql
    02:03:26 SQL> --
    02:03:26 SQL> 
    02:03:26 SQL> SET LINES 66
    02:03:26 SQL> DESC hourly
     Name                             Null?    Type
     -------------------------------- -------- -----------------------
     PAIR                                      VARCHAR2(15)
     YDATE                                     DATE
     VOL                                       NUMBER
     OPN                                       NUMBER
     CLSE                                      NUMBER
     MN                                        NUMBER
     MX                                        NUMBER
    
    02:03:26 SQL> SET LINES 166
    02:03:26 SQL> 
    02:03:26 SQL> -- For each pair, look at wom WHERE ydate > '2009-01-01'
    02:03:26 SQL> -- Filter out anything with abs(nhgain) < 0.0001 / 4
    02:03:26 SQL> CREATE OR REPLACE VIEW bb_wom AS
    02:03:26   2  SELECT
    02:03:26   3  pair,week_of_month
    02:03:26   4  ,ROUND(avg_nhgain,6)avg_nhgain
    02:03:26   5  ,ROUND(sum_nhgain,4)sum_nhgain
    02:03:26   6  ,count_nhgain
    02:03:26   7  FROM
    02:03:26   8  (
    02:03:26   9    SELECT
    02:03:26  10    pair,week_of_month
    02:03:26  11    ,AVG(nhgain)  avg_nhgain
    02:03:26  12    ,SUM(nhgain)  sum_nhgain
    02:03:26  13    ,COUNT(nhgain)count_nhgain
    02:03:26  14    FROM
    02:03:26  15    (
    02:03:26  16      SELECT
    02:03:26  17      pair
    02:03:26  18      ,ydate
    02:03:26  19      ,opn
    02:03:26  20      ,clse
    02:03:26  21      -- Hourly gain:
    02:03:26  22      ,(clse-opn)     hgain
    02:03:26  23      -- Normalized hourly gain:
    02:03:26  24      ,(clse-opn)/opn nhgain
    02:03:26  25      ,0+TO_CHAR(ydate,'W')week_of_month
    02:03:26  26      FROM hourly WHERE opn>0
    02:03:26  27    )
    02:03:26  28    WHERE ydate > '2009-01-01'
    02:03:26  29    GROUP BY pair,week_of_month
    02:03:26  30  )
    02:03:26  31  -- I only want to see trades which give more that 1/4 pip per hour:
    02:03:26  32  WHERE ABS(avg_nhgain) > (0.0001 / 4)
    02:03:26  33  /
    
    View created.
    
    Elapsed: 00:00:00.13
    02:03:26 SQL> 
    02:03:26 SQL> -- I want to see USD bearish positions first.
    02:03:26 SQL> SELECT * FROM bb_wom
    02:03:26   2  WHERE
    02:03:26   3  (
    02:03:26   4    (pair LIKE'%_usd'AND avg_nhgain>0)
    02:03:26   5    OR
    02:03:26   6    (pair LIKE'usd_%'AND avg_nhgain<0)
    02:03:26   7  )
    02:03:26   8  -- Sort better trades to the top:
    02:03:26   9  ORDER BY ABS(avg_nhgain) DESC
    02:03:26  10  /
    
    PAIR            WEEK_OF_MONTH AVG_NHGAIN SUM_NHGAIN COUNT_NHGAIN
    --------------- ------------- ---------- ---------- ------------
    gbp_usd                     5    .000095      .0852          896
    usd_chf                     5   -.000077     -.0691          896
    aud_usd                     1    .000062      .1699         2759
    usd_cad                     2   -.000061     -.1611         2656
    aud_usd                     2    .000054      .1442         2656
    usd_cad                     1   -.000053     -.1476         2759
    usd_jpy                     2   -.000051     -.1599         3156
    usd_chf                     2   -.000044     -.1174         2656
    eur_usd                     2    .000042       .112         2656
    usd_jpy                     3   -.000037     -.1152         3141
    usd_jpy                     5    -.00003     -.0318         1068
    aud_usd                     5    .000027      .0239          896
    
    12 rows selected.
    
    Elapsed: 00:00:00.17
    02:03:26 SQL> 
    02:03:26 SQL> 
    02:03:26 SQL> -- Now show USD bullish positions:
    02:03:26 SQL> SELECT * FROM bb_wom
    02:03:26   2  WHERE
    02:03:26   3  (
    02:03:26   4    (pair LIKE'%_usd'AND avg_nhgain<0)
    02:03:26   5    OR
    02:03:26   6    (pair LIKE'usd_%'AND avg_nhgain>0)
    02:03:26   7  )
    02:03:26   8  -- Sort better trades to the top:
    02:03:26   9  ORDER BY ABS(avg_nhgain) DESC
    02:03:26  10  /
    
    PAIR            WEEK_OF_MONTH AVG_NHGAIN SUM_NHGAIN COUNT_NHGAIN
    --------------- ------------- ---------- ---------- ------------
    aud_usd                     3   -.000036     -.0951         2657
    
    Elapsed: 00:00:00.13
    02:03:26 SQL> 
    02:03:26 SQL> exit
    Disconnected from Oracle Database 11g Enterprise Edition Release 11.2.0.1.0 - 64bit Production
    With the Partitioning, OLAP, Data Mining and Real Application Testing options

The first obvious piece of information I see in the above report is that only one lucrative trade is USD bullish.
The other 12 are USD bearish.

%br/
%br/
The second interesting information is a bit more subtle but it is there.
It appears that the value leaving USD is mostly happening during the first 2 weeks of every month.
The small trickle which comes back returns from traders selling AUD to buy USD in the 3rd week of every month.
%br/
%br/
An obvious trading strategy I see in this report is that I should sell
USD during the first 2 weeks of every month to buy AUD, CAD, JPY, and CHF.
%br/
%br/
Also if I am in a month which has a 5th week, I would sell USD to buy GBP.
I would be timid about that though.  
My sentiment towards GBP is neutral compared to other currencies.

%br/
%br/
A copy of the above report and the SQL which created it is at this URL:
%br/
%a(href="https://github.com/bikle/rluck/tree/master/wom2010_1104/" target="t")
  https://github.com/bikle/rluck/tree/master/wom2010_1104/
%br/
%br/
