
<table id="plain_table" border='1' width='90%' align='center' summary='Script output'>
  <caption>Far-Past, Near-Past Price Correlations</caption>
	
<thead>
  <tr>
  <th scope="col">
  PAIR
  </th>
  <th scope="col">
    Currency Pairs
  </th>
  </tr>
</thead>
<tbody>
  <tr>
    <th>
    aud_usd
    </th>
    <td align="right">
    .880517854
    </td>
  </tr>
  <tr>
    <th>
    eur_aud
    </th>
    <td align="right">
    .916064174
    </td>
  </tr>

<tr>
<th>
eur_cad
</th>
<td align="right">
.933176014
</td>
</tr>
<tr>
<th>
eur_chf
</th>
<td align="right">
.998394181
</td>
</tr>
<tr>
<th>
eur_gbp
</th>
<td align="right">
.980427374
</td>
</tr>
<tr>
<th>
eur_jpy
</th>
<td align="right">
.762022731
</td>
</tr>
<tr>
<th>
eur_usd
</th>
<td align="right">
.797771834
</td>
</tr>
<tr>
<th>
gbp_aud
</th>
<td align="right">
.970647536
</td>
</tr>
<tr>
<th>
gbp_cad
</th>
<td align="right">
.951661546
</td>
</tr>
<tr>
<th>
gbp_chf
</th>
<td align="right">
.997827381
</td>
</tr>
<tr>
<th>
gbp_jpy
</th>
<td align="right">
.934566803
</td>
</tr>
<tr>
<th>
gbp_usd
</th>
<td align="right">
.773859417
</td>
</tr>
<tr>
<th>
usd_cad
</th>
<td align="right">
.927118555
</td>
</tr>
<tr>
<th>
usd_chf
</th>
<td align="right">
 .92985247
</td>
</tr>
<tr>
<th>
usd_jpy
</th>
<td align="right">
.946384521
</td>
</tr>

  <tr>
    <th>
    _
    </th>
    <td align="right">
    0.0
    </td>
  </tr>
</tbody>
</table>

