
<table border='1' width='90%' align='center' summary='Script output'>
  <caption>Far-Past, Near-Past Price Correlations</caption>
<tr>
<th scope="col">
PAIR
</th>
<th scope="col">
CORR(AVG_NPG1,AVG_NPG2)
</th>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
.880517854
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
.916064174
</td>
</tr>
</table>


<table id="sql" border='1' width='90%' align='center' summary='Script output'>
  <caption>Far-Past, Near-Past Price Correlations</caption>
	
<thead>
  <tr>
  <th scope="col">
  PAIR
  </th>
  <th scope="col">
  CORR
  </th>
  </tr>
</thead>
<tbody>
  <tr>
    <th>
    aud_usd
    </th>
    <td align="right">
    .880517854
    </td>
  </tr>
  <tr>
    <th>
    eur_aud
    </th>
    <td align="right">
    .916064174
    </td>
  </tr>
</tbody>
</table>
