
<table id="sql" border='1' width='90%' align='center' summary='Script output'>
  <caption>Far-Past, Near-Past Price Correlations</caption>
<thead>
<tr>
<th scope="col">
PAIR
</th>
<th scope="col">
  Currency Pairs
</th>
</tr>

</thead>
<tbody>

<tr>
<th>
aud_usd
</th>
<td align="right">
.219088171
</td>
</tr>
<tr>
<th>
eur_aud
</th>
<td align="right">
 .31953531
</td>
</tr>
<tr>
<th>
eur_cad
</th>
<td align="right">
.108606032
</td>
</tr>
<tr>
<th>
eur_chf
</th>
<td align="right">
-.13599269
</td>
</tr>
<tr>
<th>
eur_gbp
</th>
<td align="right">
-.09553853
</td>
</tr>
<tr>
<th>
eur_jpy
</th>
<td align="right">
 .14883249
</td>
</tr>
<tr>
<th>
eur_usd
</th>
<td align="right">
.098755912
</td>
</tr>
<tr>
<th>
gbp_aud
</th>
<td align="right">
.044375658
</td>
</tr>
<tr>
<th>
gbp_cad
</th>
<td align="right">
-.05652245
</td>
</tr>
<tr>
<th>
gbp_chf
</th>
<td align="right">
-.38389614
</td>
</tr>
<tr>
<th>
gbp_jpy
</th>
<td align="right">
.213528191
</td>
</tr>
<tr>
<th>
gbp_usd
</th>
<td align="right">
-.48325425
</td>
</tr>
<tr>
<th>
usd_cad
</th>
<td align="right">
.134058419
</td>
</tr>
<tr>
<th>
usd_chf
</th>
<td align="right">
-.09306489
</td>
</tr>
<tr>
<th>
usd_jpy
</th>
<td align="right">
.391129051
</td>
</tr>
</tbody>
</table>
