%a(href="/r10/site_map")Site Map
>
%a(href="/tech")Tech
> google_charts11
%br/
%br/


%img#chart11(width="300" height="225")

:javascript
  $(document).ready(function() {

    var gatt1 = $("img#chart11").attr('width');
    var gatt2 = $("img#chart11").attr('width');
    $("img#chart11").attr('dan','bikle');
    var gatt2 = $("img#chart11").attr('dan');
    var gatt2 = $("img#chart11").attr('dan');

    var src_s = "http://chart.apis.google.com/chart?chxr=0,0,70&chxt=y&chs=300x225&cht=lc&chco=3D7930&chd=s:Xhiugtqi&chg=14.3,-1,1,1&chls=2,4,0&chm=B,C5D4B5BB,0,0,0&chtt=Bikle+Chart+2010-11-19+22%3A20+GMT"

    $("img#chart11").attr('src',src_s);

    // This function scales the submitted values so that
    // maxVal becomes the highest value.
    function simpleEncode(valueArray,maxValue) {
      var simpleEncoding = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
      var chartData = ['s:'];
      for (var i = 0; i < valueArray.length; i++) {
        var currentValue = valueArray[i];
        if (!isNaN(currentValue) && currentValue >= 0) {
        chartData.push(simpleEncoding.charAt(Math.round((simpleEncoding.length-1) * 
          currentValue / maxValue)));
        }
          else {
          chartData.push('_');
          }
      }
      return chartData.join('');
    }


  });


