%a(href="/r10/site_map")Site Map
>
%a(href="/tech")Tech
> DataTables
%h5 DataTables

I started my work with DataTables by studying this URL:
%br/
%br/

%a(href="http://www.datatables.net/usage/" target="d")
  http://www.datatables.net/usage/
%br/
%br/

Next, I created an HTML table:

%br/
%br/

=render :partial => 'dt10'

Then, I made a copy of the table and added an id attribute to it:
%br/
%br/
id = my_data_table
%br/
%br/

:javascript
  $(document).ready(function() {
  	$('#my_data_table').dataTable();
  } );

=render :partial => 'dt12'
