%a(href="/r10/site_map")Site Map
>
%a(href="/tech")Tech
> DataTables
%h5 DataTables

I started my work with DataTables by studying this URL:
%br/
%br/

%a(href="http://www.datatables.net/usage/" target="d")
  http://www.datatables.net/usage/
%br/
%br/

Next, I created an HTML table:
