%a(href="/r10/site_map")Site Map
>
%a(href="/tech")Tech
> google_charts
%br/
%br/
A simple Google Chart is displayed below:
%br/
%br/
<img src="http://chart.apis.google.com/chart?chxr=0,0,46&chxt=y&chs=300x225&cht=lc&chco=3D7930&chd=s:Xhiugtqi&chg=14.3,-1,1,1&chls=2,4,0&chm=B,C5D4B5BB,0,0,0&chtt=Bikle+Chart+2010-11-19+22%3A20+GMT" width="300" height="225" alt="Bikle Chart 2010-11-19 22:20 GMT" />
%br/
%br/
Here is the code behind the above chart:
%br/
%br/
  
:escaped
  <img src="http://chart.apis.google.com/chart?chxr=0,0,46&chxt=y&chs=300x225&cht=lc&chco=3D7930&chd=s:Xhiugtqi&chg=14.3,-1,1,1&chls=2,4,0&chm=B,C5D4B5BB,0,0,0&chtt=Bikle+Chart+2010-11-19+22%3A20+GMT" width="300" height="225" alt="Bikle Chart 2010-11-19 22:20 GMT" />
%br/
%br/
I can see that the chart is just one img-element with a long src attribute.
%br/
%br/
The data in the chart has been encoded and passed to Google via the chd parameter of the src attribute:
%br/
%br/
chd=s:Xhiugtqi
%br/
%br/
Also note that I use the chxr attribute like this:
%br/
%br/
chxr=0,0,46
%br/
%br/
According to the Google documentation, the chxr attribute controls the axis.
%br/
%br/
The documentation on chxr says this:
:escaped
  chxr= <axis_index>,  <start_val>,  <end_val>, <step>|...

%br/
%br/
To me, start_val and end_val were at frist obvious; axis_index was not.
Then I found a description of axis_index:
%br/
%br/
This is a zero-based index into the axis array specified by chxt. For example, the r-axis would be 1 in chxt=x,r,y.
%br/
%br/
So, I looked for chxt in the above example and I found this:
%br/
%br/
chxt=y
%br/
%br/
And, now I see that 
%br/
chxr=0,0,46
%br/
is a signal to Google-charts to scale the y axis where the minimum is 0 and the maximum is 46.
%br/
%br/
I used the above chart as my introduction to Google Charts.
%br/
%br/
After I created the above chart,
I started on the task of creating a chart which can react to numbers submitted by a form:
%br/
%br/

%form#f1
  %input.input_cb#n0(type="checkbox"  name="n0"  value="0" checked="checked")0
  %br/
  %input.input_cb#n10(type="checkbox" name="n10" value="10" checked="checked")10
  %br/
  %input.input_cb#n40(type="checkbox" name="n40" value="40" checked="checked")40
  %br/
  %input.input_cb#n20(type="checkbox" name="n20" value="20" checked="checked")20
  %br/
  %input.input_cb#n30(type="checkbox" name="n30" value="30" checked="checked")30
  %br/
  %style(type="text/css")
    span#sb {background-color:#CCC; border-style:solid; cursor:pointer;}
  %span#sb Click Here to Draw Chart

%br/
%br/

:javascript
  $(document).ready(function() {

    function simpleEncode(valueArray,maxValue) {
      var simpleEncoding = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
      var chartData = ['s:'];
      for (var i = 0; i < valueArray.length; i++) {
        var currentValue = valueArray[i];
        if (!isNaN(currentValue) && currentValue >= 0) {
        chartData.push(simpleEncoding.charAt(Math.round((simpleEncoding.length-1) * 
          currentValue / maxValue)));
        }
          else {
          chartData.push('_');
          }
      }
      return chartData.join('');
    }

    var valueArray = new Array(0,1,4,4,6,11,14,17,23,28,33,36,43,59,65);
    var valueArray = new Array(0,10,40);
    var valueArray = new Array(0,30);

    var valueArray = new Array();
 
    var in0 = $("input#n0").attr("checked");
    var in10 = $("input#n10").attr("checked");
    var in40 = $("input#n40").attr("checked");
    var in20 = $("input#n20").attr("checked");
    var in30 = $("input#n30").attr("checked");

    if(in0 == true)
      {
        valueArray.push(0);
      }
    if(in10 == true)
      {
        valueArray.push(10);
      }
    if(in40 == true)
      {
        valueArray.push(40);
      }
    if(in20 == true)
      {
        valueArray.push(20);
      }
    if(in30 == true)
      {
        valueArray.push(30);
      }

    var maxValue = 45;

    var se_out1 = simpleEncode(valueArray, maxValue);
    var se_out2 = simpleEncode(valueArray, maxValue);

    var chd_s = "&chd=s:Xhiugtqi";
    var chd_s = "&chd=" + se_out1;

    $("img#c10").hide();

    $("#sb").click(function() {

      var src_s = "http://chart.apis.google.com/chart?chxr=0,0,46&chxt=y&chs=300x225&cht=lc&chco=3D7930&chg=14.3,-1,1,1&chls=2,4,0&chm=B,C5D4B5BB,0,0,0&chtt=Bikle+Chart+2010-11-19+22%3A20+GMT" + chd_s ;

      $("img#c10").attr("src",src_s);

      $("img#c10").hide();

      $("img#c10").show("slow");

    });

  });
Values passed in:
#values_passed_in
  %span#v0  0
  %br/
  %span#v10 10
  %br/
  %span#v40 40
  %br/
  %span#v20 20
  %br/
  %span#v30 30
  %br/

%img#c10(width="300" height="225" alt="Bikle Chart 2010-11-19 22:20 GMT")

%br/
%br/

/
  The javascript below is for debugging:

:javascript
  $(document).ready(function() {

    $("span#cb00").hide();
    $("span#cb100").hide();
    $("span#cb200").hide();
    $("span#cb300").hide();
    $("span#cb400").hide();

    $("input.input_cb").click(function() {

      var in0 = $("input#n0").attr("checked");
      if(in0 == true)
        {
          $("span#cb00").hide();
          $("span#cb01").show();
        }
      else
        {
          $("span#cb00").show();
          $("span#cb01").hide();
        }

      var in10 = $("input#n10").attr("checked");
      if(in10 == true)
        {
          $("span#cb100").hide();
          $("span#cb101").show();
        }
      else
        {
          $("span#cb100").show();
          $("span#cb101").hide();
        }

      var in40 = $("input#n40").attr("checked");
      if(in40 == true)
        {
          $("span#cb400").hide();
          $("span#cb401").show();
        }
      else
        {
          $("span#cb400").show();
          $("span#cb401").hide();
        }

      var in20 = $("input#n20").attr("checked");
      if(in20 == true)
        {
          $("span#cb200").hide();
          $("span#cb201").show();
        }
      else
        {
          $("span#cb200").show();
          $("span#cb201").hide();
        }

      var in30 = $("input#n30").attr("checked");
      if(in30 == true)
        {
          $("span#cb300").hide();
          $("span#cb301").show();
        }
      else
        {
          $("span#cb300").show();
          $("span#cb301").hide();
        }

    });

  });

/
  checkbox 0 is
  %span#cb00 not checked
  %span#cb01 checked
  %br/
  checkbox 10 is
  %span#cb100 not checked
  %span#cb101 checked
  %br/
  checkbox 40 is
  %span#cb400 not checked
  %span#cb401 checked
  %br/
  checkbox 20 is
  %span#cb200 not checked
  %span#cb201 checked
  %br/
  checkbox 30 is
  %span#cb300 not checked
  %span#cb301 checked
  %br/



