%a(href="/r10/site_map")Site Map
>
%a(href="/tech")Tech
> gvChart
%h5 gvChart

I started my efforts with this plugin by adding a declaration in my head-element to serve this URL:
%a(href="http://www.google.com/jsapi" target="g")
  http://www.google.com/jsapi
to my browser.
%br/
%br/
Also I added a declaration to serve jquery.gvChart-1.0.min.js
%br/
%br/
In addition I added syntax to call a JavaScript function named gvChartInit()
%br/
%br/
Those 3 additions are the last three lines in my head-element which is displayed below:
%br/
%br/
=render :partial => "head_demo"
%br/
%br/
Next, I added a table which is displayed below:
%br/
%br/
=render :partial => "plain_table"
%br/
%br/

Then, I added this jQuery syntax:

%pre
  :preserve
    $('#sql').gvChart({
          chartType: 'ColumnChart',
          gvSettings: {
                  vAxis: {title: 'Correlation Value'},
                  width: 720,
                  height: 300,
                  }
    });


%br/
%br/

Next, I added the table again but with the id: sql
%br/
%br/
Instead of seeing a table, I saw this chart:
%br/

:javascript
  $(document).ready(function() {

    $('#sql').gvChart({
          chartType: 'ColumnChart',
          gvSettings: {
                  vAxis: {title: 'Correlation Value'},
                  width: 720,
                  height: 300,
                  }
    });

  });

=render :partial => "sql"
%br/
%br/
To me, the chart is more useful than the table at helping me visualize the correlation between Far-Past and Near-Past for 15 currency pairs.
%br/
%br/
