%a(href="/r10/site_map")Site Map
>
%a(href="/tech")Tech
> gvChart
%h5 gvChart

I started my efforts with this plugin by adding a declaration in my head-element to serve this URL:
%a(href="http://www.google.com/jsapi" target="g")
  http://www.google.com/jsapi
to my browser.
%br/
%br/
Also I added a declaration to serve jquery.gvChart-1.0.min.js
%br/
%br/
After I added the two declarations my head-element looked like this:
%br/
%br/

=render :partial => "head_demo"

