%a(href="/r10/site_map")Site Map
> Tech

%h5 Tech

%h4 Google Chart Tools

My friend Peter Bloom introduced me to Google Chart Tools:
%br/
%br/

%a(href="http://code.google.com/apis/charttools/docs/about.html" target="g")
  http://code.google.com/apis/charttools/docs/about.html
%br/
%br/
He uses them on his website:
%br/
%br/

%a(href="https://bbgmetrics.com/" target="b")
  https://bbgmetrics.com/
%br/
%br/

Here are some charts I created:
%br/
%br/

%a(href="/tech/google_charts10")google_charts
%br/
%br/

%h4 gvChart

While searching
%br/
%br/
%a(href="http://plugins.jquery.com/" target="j")
  http://plugins.jquery.com/
%br/
%br/
for charting software which works well with jQuery I found this plugin:
%br/
%br/
%a(href="http://www.ivellios.toron.pl/technikalia/demos/gvChart/"  target="j")
  http://www.ivellios.toron.pl/technikalia/demos/gvChart/
%br/
%br/
Here is some work I did with gvChart:
%br/
%br/
%a(href="/tech/gv_chart")gvChart
%br/
%br/

