%a(href="/r10/site_map")Site Map
> Tech

%h5 Tech

%h4 Google Chart Tools

My friend Peter Bloom introduced me to Google Chart Tools:
%br/
%br/

%a(href="http://code.google.com/apis/charttools/docs/about.html" target="g")
  http://code.google.com/apis/charttools/docs/about.html
%br/
%br/
He uses them on his website:
%br/
%br/

%a(href="https://bbgmetrics.com/" target="b")
  https://bbgmetrics.com/
%br/
%br/

Here are some charts I created:
%br/
%br/

%a(href="/tech/google_charts10")google_charts
%br/
%br/
